<div style="background-color: lightgreen; padding: 18px;">
    <h1> Coding Tank | Vem Ser Tech 
</div>

<div style="background-color: lightblue; padding: 10px;">
    <h2> Tópicos da aula - AULA 1
</div>

- Variáveis
- Tipos básicos
- Entradas/Saídas
- Operadores aritméticos, atribuição e comparação

# Introdução

Vamos explorar como o jupyter notebook funciona, botões, comandos e tipos de célula

1

In [1]:
2

2

In [2]:
3

3

In [3]:
3 + 4

7

In [4]:
5 - 3

2

In [5]:
2 * 5

10

In [6]:
15 / 2

7.5

In [7]:
15 // 2

7

In [8]:
15 % 2

1

In [9]:
15 ** 2

225

**Operadores Aritméticos**

|     Operador    |     Nome                 |     Função                                                                       |
|-----------------|--------------------------|----------------------------------------------------------------------------------|
|     +           |     Adição               |     Realiza   a soma de ambos operandos.                                         |
|     -           |     Subtração            |     Realiza   a subtração de ambos operandos.                                    |
|     *           |     Multiplicação        |     Realiza   a multiplicação de ambos operandos.                                |
|     /           |     Divisão              |     Realiza   a Divisão de ambos operandos.                                      |
|     //          |     Divisão   inteira    |     Realiza   a divisão entre operandos e a parte decimal de ambos operandos.    |
|     %           |     Módulo               |     Retorna   o resto da divisão de ambos operandos.                             |
|     **          |     Exponenciação        |     Retorna   o resultado da elevação da potência pelo outro.                    |

Mas como podemos armazenar esses valores?

# Variáveis

Variável é o nome dado ao tipo de conteúdo que pode apresentar diferentes valores enquanto o sistema está em execução. Tudo dependerá do comando do usuário e o tipo de operação que é realizado.

Imagine que você conhece uma nova pessoa. A variável seria o lugar no seu cérebro no qual você guarda, por exemplo, o nome desta pessoa, ou seja, é alocado um espaço para armazenar esta informação e posteriormente é passado o valor referente aquele dado.

`nome = "Renata"`

## Tipos básicos

Podemos ter informações relacionadas às outras pessoas como nome, idade e salário. Cada uma delas possui o que chamamos de tipos de variável. Os tipos de dados são os seguintes:

In [10]:
# Esta é uma forma de comentar o código. Toda esta informação não será processada
# Podemos passar variáveis de texto (str) com aspas duplas
nome = "Renata"
type(nome)

str

In [11]:
# Aspas simplas - Comentando uma linha de código
nome = 'Renata'
type(nome)

str

In [12]:
outro_nome = "Ada"
type(nome)

str

In [13]:
idade = 21
type(idade)

int

In [14]:
idade = 21.
type(idade)

float

In [15]:
idade = "21"
type(idade)

str

In [16]:
certificado = True # True é diferente de true, que é diferente TRUE
type(certificado)

bool

In [17]:
var = False # Cuidado com o F maiúsculo ---> False é diferente de false
type(var)

bool

In [18]:
var = false # false é variável e não booleana ---> Case Sensitive

NameError: name 'false' is not defined

Idade é diferente de idade

# Entradas

Para solicitarmos entradas de informações a serem fornecidas pelo usuário podemos utilizar a função input. Com ela você poderá (opcional) passar uma mensagem instrutiva ao usuário do que deseja que ele insira.  
No exemplo abaixo utilizaremos o input.

In [19]:
input()

''

**Intuição**  
Veja que ele funciona, porém sem uma mensagem de qual informação é solicitada não é possível identificar o que se deve passar ao programa.

In [20]:
input('Insira sua idade: ')

Insira sua idade: 21

'21'

**Variável**  
Podemos guardar o valor passado pelo usuário numa variável

In [21]:
idade = input('Insira sua idade: ')

Insira sua idade: 21

Repare nas aspas que saem quando utilizamos apenas a função input. Isso quer dizer que este valor capturado pelo programa é uma string, independente do que o usuário insira.

In [22]:
type(idade)

str

**Convertendo o tipo de dado**

Neste caso é interessante que a idade seja um número, visto que em geral o utilizamos para realizar contas, por exemplo. Para converter este valor para um inteiro, podemos fazer da seguinte forma:

In [23]:
int(idade)

21

In [24]:
float(idade)

21.0

In [25]:
str(float(idade)) # idade é originalmente string, transformei para float e depois para string novamente

'21.0'

In [26]:
int(float(idade))

21

In [27]:
float('Renata') # não consigo transformar esse texto em casas decimais (valores flutuantes)

ValueError: could not convert string to float: 'Renata'

In [28]:
int('00123')

123

E para simplificar ainda mais é comum que já realizemos a conversão da variável logo na chamada do input.

In [31]:
idade = int(input('Insira sua idade: '))

Insira sua idade: 21

In [30]:
type(idade)

str

## Saídas

Em diversas situações desejamos imprimir na tela o resultado de alguma operação que realizamos ou simplesmente emitirmos uma mensagem, para estas situações utilizamos o `print`.

In [32]:
print()

In [33]:
print('Você pode utilizar o print para imprimir na tela o que você quiser')

Você pode utilizar o print para imprimir na tela o que você quiser

In [34]:
print("As aspas duplas também funcionam") # comentário no código, ou seja, ele não executa o que está na frente do #

As aspas duplas também funcionam

In [35]:
print("Teste") # Usamos o # para comentar uma linha de código. Para comentar mais linhas """3x aspas """

Teste

In [36]:
print('Podemos pular linha \ncom este símbolo') # \n

Podemos pular linha
com este símbolo

In [37]:
print("\tÉ possível utilizar a tabulação") # \t

	É possível utilizar a tabulação

In [38]:
print('Também podemos')
print("usar o print")
print("várias vezes na mesma célula")

Também podemos
usar o print
várias vezes na mesma célula

In [39]:
# observação
"Texto" # No Jupyter notebook a última linha da célula funciona parecido com o print

'Texto'

**Mais de um argumento**  
Para imprimir mais de uma informação, o print permite inserir quantos argumentos forem necessários, desde que separados por vírgula. Veja o exemplo:

In [40]:
print('Olá', 'eu sou Renata', "muito prazer")

Olá eu sou Renata muito prazer

In [41]:
print("Também podemos usar o argumento end (que será útil em condicionais)", end=".")

Também podemos usar o argumento end (que será útil em condicionais).

**Print de variáveis**  
Também é possível imprimir variáveis de forma simples, basta passar o nome dado para a variável dentro dos parênteses.

In [42]:
print(idade)

21

E se for necessário imprimir a mensagem "Olá, eu sou Renata Marchese", de forma que o nome e o sobrenome sejam provenientes de variáveis nome e sobrenome

In [43]:
nome = 'Renata'
sobrenome = "Marchese"
idade = 21

In [44]:
print("Olá, eu sou", nome, sobrenome, "e tenho", idade, "anos") #usando argumentos

Olá, eu sou Renata Marchese e tenho 21 anos

In [45]:
print("Olá, eu sou {} {} e tenho {} anos".format(nome, sobrenome, idade)) #outra forma de usar

Olá, eu sou Renata Marchese e tenho 21 anos

**Print com f string**  
Outra forma de utilizarmos o print com variáveis é por meio do que chamamos de f string.

In [46]:
print(f"Olá, eu sou {nome} {sobrenome} e tenho {idade} anos") # f string

Olá, eu sou Renata Marchese e tenho 21 anos

**Bora praticar!**  
Escreva um programa que receba seu nome, sua idade, hobby e escreva uma única sentença que seja, por exemplo, "Meu nome é Renata, tenho 22 anos e meu hobby é viajar"

In [52]:
name = input("Qual seu nome? ")
age = int(input("Qual sua idade? "))
hobby = input("Qual seu hobby? ")

print(f"Olá, meu nome é {name}, tenho {age} anos e meu hobby é {hobby}")

Qual seu nome? Marcelo
Qual sua idade? 33
Qual seu hobby? nadar
Olá, meu nome é Marcelo, tenho 33 anos e meu hobby é nadar

In [53]:
name = input("Enter your name ")
age = int(input("Enter your age "))
hobby = input('What\'s your hobby? ')# hobby = input("What's your habby? ")

print(f"Hi, my name is {name}, I'm {age} years old and my hobby is {hobby}")

Enter your name Alexandre
Enter your age 32
What's your hobby? ensinar
Hi, my name is Alexandre, I'm 32 years old and my hobby is ensinar

# Operadores Algébricos e de Atribuição
Rotineiramente nos deparamos com a necessidade de realizarmos cálculos, para isso utilizamos os operadores algébricos como conhecemos na matemática tradicional. Mas como usar com variáveis?

In [47]:
valor_01 = 10
valor_02 = 15
print(valor_01 + valor_02)

25

In [48]:
x = 5
y = 2

z = x + y

print("valor de x =", x)
print("valor de y =", y)
print("valor de z =", z)
 
x = x + 1 
 
print("valor de x =", x)

valor de x = 5
valor de y = 2
valor de z = 7
valor de x = 6

**Operadores de atribuição**

|     Operador    |     Equivalente a    |
|:---------------:|----------------------|
|         =       |     x =   1          |
|        +=       |     x =   x + 1      |
|        -=       |     x =   x - 1      |
|        *=       |     x =   x * 1      |
|        /=       |     x =   x / 1      |
|        %=       |     x =   x % 1      |

**Bora praticar!**  
Com tudo que vimos até o momento faça um programa que solicite ao usuário que insira seu ano de nascimento. Desconsiderando o mês do ano de nascimento, emita uma mensagem dizendo quantos anos ele possui.

In [60]:
ano = int(input("Digite seu ano de nascimento: "))
ano_atual = 2023 # ano_atual = int(input("Digite o ano atual: ")) 
idade = ano_atual - ano

print(f"Você possui {idade} anos de idade :)")

Digite seu ano de nascimento: 2002
Você possui 21 anos de idade :)

## Operadores de Comparação  
Os operadores de comparação são aqueles que possuem o objetivo de analisar os valores de uma expressão e retornar um valor booleano, ou seja, verdadeiro (1) ou falso (0).

**Operadores de comparação**

|     Operador    |           Nome          |     Função                                              |
|:---------------:|:-----------------------:|---------------------------------------------------------|
|        ==       |         Igual   a       |     Verifica   se um valor é igual ao outro             |
|        !=       |      Diferente   de     |     Verifica   se um valor é diferente ao outro         |
|         >       |        Maior   que      |     Verifica   se um valor é maior que outro            |
|        >=       |     Maior   ou igual    |     Verifica   se um valor é maior ou igual ao outro    |
|         <       |        Menor   que      |     Verifica   se um valor é menor que outro            |
|        <=       |     Menor   ou igual    |     Verifica   se um valor é menor ou igual ao outro    |

In [49]:
print( 3 > 2 )

True

In [50]:
print( 3 < 2 )

False

In [51]:
print( 3 == 2 ) # Cuidado, = é atribuição e não comparação

False

In [52]:
print( 3 != 2 ) # diferente

True

In [53]:
print( 3 =! 2 ) # Não existe =! e sim !=

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (171474158.py, line 1)

**Bora praticar!**  
Imagine que você está implementando um sistema para verificar se os alunos de uma turma estudantil passaram na disciplina ou não. Para isso solicite que o usuário insira as notas das 4 provas realizadas por um estudante e calcule a média. Após isso, emita uma resposta booleana (True ou False) se o estudante passou na disciplina pensando que a média mínima para aprovação é que seja pelo menos 5.

Crie um algoritmo que calcule o IMC (índice de massa corporal). O IMC é calculado com a formula PESO/(ALTURA ^ 2). Para isso, coloque as informações nas variáveis e ao final apresente o resultado como no exemplo: "O IMC é 18"

Escreva um algoritmo que calcule (x + y) * (x + y). Os valores de x e y devem ser inseridos pelo usuário